@import url('https://fonts.googleapis.com/css?family=Assistant|Heebo&display=swap');

@font-face {
    font-family: 'gveretlevin_alefalefalef';
    src: url('../css/gveretlevinalefalefalef-regular-webfont.ttf') format('truetype'), url('../css/gveretlevinalefalefalef-regular-webfont.woff') format('woff'), url('../css/gveretlevinalefalefalef-regular-webfont.eot') format('embedded-opentype'), url('../css/gveretlevinalefalefalef-regular-webfont.svg') format('svg'), url('../css/gveretlevinalefalefalef-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    direction: rtl;
    color: #121619;
    /*background-image: url('../images/home_bg.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover; /* Resize the background image to cover the entire container */
    background-color: #f2f2f2;
}

#container {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    font-family: Heebo, sans-serif;
}

.notActive {
    cursor: not-allowed;
}

a.not_link {
    cursor: default;
}

a:link {
    text-decoration: none;
}


/**********ניווט ולוגו**********/

#main_header {
    width: 1366px;
    height: 100px;
    margin: 0 auto;
    padding-top: 12px;
    /*background-color: aqua;*/
}

/*לוגו*/

#logo_full {
    padding: 5px 5px;
    position: relative;
    /* background-color: khaki; */
    width: 365px;
    display: inline-block;
}

    #logo_full a {
        width: 100%;
        /* height: 87px; */
        /* background-color: blue; */
        position: relative;
        display: inline-block;
    }

#logo_img {
    height: 80px;
    float: right;
    padding-left: 28px;
}

.logo_txt {
    padding-top: 3.3px;
    color: #121619;
    /* background-color: aqua; */
}

h1 {
    font-family: 'gveretlevin_alefalefalef', gveretlevin_alefalefalef, Assistant, sans-serif;
    font-size: 39px;
    letter-spacing: 2px;
}

p#tagline {
    font-family: Heebo, Assistant, sans-serif;
    font-size: 21px;
    letter-spacing: 1.5px;
    position: relative;
    top: 12px;
    text-align: center;
    padding-left: 9px;
}

/*ניווט*/

.arrow {
    background-image: url(../images/arrow.png);
    background-size: 100% 100%;
    position: relative;
    display: inline-block;
    width: 10px;
    height: 9px;
    right: 13px;
    top: -1.9px;
}

div#nav {
    float: left;
    position: relative;
    margin-top: 50px;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    float: right;
}

    nav ul li a {
        display: block;
        /* background-color: white; */
        font-size: 21px;
        color: #121619;
        width: 200px;
        height: 50px;
        text-decoration: none;
        text-align: center;
        padding: 16px 0px;
        font-family: Heebo, sans-serif;
    }

        nav ul li a:hover {
            background-color: #bbbbbb;
            color: #121619;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            transition: 0.3s ease;
        }

        nav ul li a:active {
            background-color: dimgrey;
            color: #121619;
        }

    nav ul li ul {
        display: none;
        position: absolute;
    }

        nav ul li ul li a {
            font-size: 18px;
            padding: 17px 0px;
            background-color: white;
        }

.navCurrent {
    background-color: lightgray;
}

nav ul li:hover > ul {
    display: block;
    width: 120px;
}

#main_menu > li:hover > a {
    background-color: #bbbbbb;
}

/*______________________________*/

/**********קרוסלה - תמונה גדולה**********/
.banner {
    max-width: 1920px;
    margin: 0 auto;
}

.map_mark {
    background-image: url(../images/location.png);
    background-size: 100% 100%;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 29px;
    right: 21px;
    top: 5px;
}

.location {
    width: fit-content;
    height: 55px;
    position: absolute;
    /*display: inline-block;*/
    bottom: 40px;
    right: 40px;
    background-color: ghostwhite;
    border-radius: 25px;
}

    .location p {
        display: inline-block;
        font-family: Heebo, Assistant, sans-serif;
        font-size: 22px;
        top: 3.5px;
        right: 0px;
        position: relative;
        padding: 15px 25px 12px 28px;
        font-weight: 600;
    }

/*______________________________*/

/**********תוכן עיקרי**********/

.main {
    width: 1366px;
    margin: 0 auto;
    position: relative;
    display: block;
    /*background-color: antiquewhite;*/
}

    .main h2 {
        font-size: 45px;
        text-align: center;
        font-weight: 500;
        font-family: Heebo, Assistant, sans-serif;
        padding: 50px 0px;
        letter-spacing: 0.3px;
        word-spacing: 1.3px;
    }

    .main .plates {
        width: 280px;
        padding-top: 25px;
    }

article .header_content_page {
    /*max-width: 1920px;*/
    margin: 0 auto;
    position: relative;
    display: block;
}

    article .header_content_page .img_content_header {
        height: 450px;
        overflow: hidden;
        top: 0;
        background: url('../images/zaatar.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }

#zaatar_article header h2 {
    font-family: Heebo, Assistant, sans-serif;
    font-size: 67px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #F5F5F5;
    position: absolute;
    top: 28%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    padding: 25px 0px;
}

#zaatar_article header p {
    width: 1366px;
    margin: 0 auto;
    font-family: Heebo, Assistant, sans-serif;
    font-size: 26px;
    line-height: 46px;
    color: #121619;
    text-align: justify;
    padding: 50px 100px 10px 100px;
}

/*עיצוב תפריט פירורי לחם*/
article header nav ol li {
    display: inline-block; /*תפריט אופקי*/
}

    article header nav ol li a {
        font-family: Heebo, Assistant, sans-serif;
        font-size: 19px;
        color: #f2f2f2;
    }

        article header nav ol li a:hover {
            color: #f2f2f2;
            text-decoration: underline;
        }

    article header nav ol li:after {
        content: ">";
        font-family: Heebo, Assistant, sans-serif;
        font-size: 19px;
        color: #f2f2f2;
    }

    article header nav ol li:last-child:after {
        content: "";
    }

.breadcrumb_nav {
    position: relative;
    top: -432px;
    right: 20px;
    max-width: 1920px;
    margin: 0 auto;
}

/*_______________*/

.article .icon { /*עיצוב כל האייקונים*/
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.article #uses { /*אייקון - שימושים*/
    background-image: url('../images/uses.png');
}

.article #ingredient { /*אייקון - רכיבים*/
    background-image: url('../images/ingredient.png');
}

.article #origin { /*אייקון - ארץ מוצא*/
    background-image: url('../images/origin.png');
}

.article #tips { /*אייקון - טיפים לבישול*/
    background-image: url('../images/tip.png');
}

.article #warning { /*אייקון - אזהרות*/
    background-image: url('../images/warning.png');
}

.article #more_info { /*אייקון - מידע נוסף*/
    background-image: url('../images/more.png');
}

.article #recipe { /*אייקון - מתכונים מומלצים*/
    background-image: url('../images/recommend.png');
}


.article section {
    width: 1200px;
    margin: 0 auto;
    padding: 65px 0px;
}

    .article section h3,
    .article section h3 strong { /*כותרות משניות בתוך המאמרים שבעמודי תוכן */
        font-family: Assistant, Heebo, sans-serif;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.4px;
    }

    .article section p { /*פסקאות בתוך המאמרים שבעמודי תוכן*/
        font-family: Assistant, Heebo, sans-serif;
        font-size: 24px;
        text-align: justify;
        line-height: 42px;
    }

    .article section ul li {
        font-family: Assistant, Heebo, sans-serif;
        font-size: 24px;
        text-align: justify;
        line-height: 42px;
        list-style: none;
    }

        .article section ul li .bold {
            font-family: Assistant, Heebo, sans-serif;
            font-weight: bold
        }

    .article section .recipe {
        margin: 50px 0px;
    }

/*עיצוב תמונות במאמרים בעמודי תוכן*/

article .article_images_container {
    padding: 30px 0px 60px 0px;
    width: 1170px;
    margin: 0 auto;
}

article .article_images {
    height: 350px;
    border-radius: 100px;
    overflow: hidden;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

    article .article_images#img_zaatar_4 {
        background-image: url('../images/zaatar4.png');
    }


/*___________________________________________________________________________________________________*/
/**********  הגדלת אלמנט במעבר עכבר  **********/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

/*______________________________*/


/**********  תמונות אווירה  **********/
div.scroll_img {
    height: 250px;
    max-width: 1920px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}

    div.scroll_img#home_page {
        background-image: url('../images/cover.jpg');
    }

    div.scroll_img#img_zaatar_1 {
        background-image: url('../images/zaatar1.jpg');
        margin: 0 auto 50px;
        margin-top: 50px;
        height: 200px;
    }

    div.scroll_img#img_zaatar_2 {
        background-image: url('../images/zaatar2.jpg');
        margin: 0 auto 50px;
        margin-top: 50px;
        height: 200px;
    }


/*______________________________*/


/*______________מעבר עכבר על תמונות________________*/

/********* Simple or original overlay *******/
/* Main container */
.overlay-image {
    position: relative;
    width: 280px;
    margin: 25px 80px 60px 0px;
    z-index: 0;
}
    /* Original image */
    .overlay-image .plates_img {
        display: block;
        width: 280px;
        height: auto;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
    }
    /* Original text overlay */
    .overlay-image .text_before {
        color: #121619;
        font-size: 28px;
        text-align: center;
        position: absolute;
        top: 71.4%;
        left: -2%;
        width: 100%;
    }

        .overlay-image .text_before h3 {
            font-family: 'Gveret Levin AlefAlefAlef', Heebo, sans-serif;
            letter-spacing: 1px;
            font-weight: normal;
        }

        .overlay-image .text_before h4 {
            font-family: 'Gveret Levin AlefAlefAlef', Heebo, sans-serif;
            font-size: 25px;
            margin: 2px 0px;
        }


/********* Overlay on hover *******/
/* New overlay on hover */
.spices .overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

/* New overlay appearance on hover */
.spices .overlay-image:hover .hover {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}


/********* Background and text only overlay on hover *******/
.spices .overlay-image .text_after {
    color: #121619;
    font-size: 21px;
    line-height: 1.4;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 77%;
}

    .spices .overlay-image .text_after p {
        font-family: Assistant, Heebo, sans-serif;
        font-weight: 600;
        word-spacing: 1px;
        letter-spacing: 0.1px;
    }

.spices .overlay-image .normal {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.spices .overlay-image:hover .normal {
    opacity: 0.2;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.spices .overlay-image:hover .plates_img {
    opacity: 0.15;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}


#spices_fade {
    position: absolute;
    display: block;
    background-color: #F2F2F2;
    opacity: 0.9;
    width: 1366px;
    height: 615px;
    z-index: 1;
    visibility: hidden;
}

/*______________________________*/




/**********  פוטר  **********/

footer {
    background-color: #893630;
    margin-top: 120px;
    height: 100px;
    margin-bottom: 20px;
}

    footer ul {
        list-style: none;
        width: 960px;
        margin: 0 auto;
    }

        footer ul li {
            display: inline-block;
            float: right;
            margin: 20px 0px;
            width: 320px;
        }

            footer ul li a {
                display: block;
                color: #f2f2f2;
                text-align: center;
                width: 115px;
                height: 60px;
                Padding: 15px 0px;
                font-size: 22px;
                font-weight: 400;
                margin: 0 auto;
            }

                footer ul li a h4,
                footer ul li a h5 {
                    font-family: Assistant, sans-serif;
                    color: #F5F5F5;
                    letter-spacing: 0.5px;
                }

                footer ul li a:hover h4,
                footer ul li a:hover h5 {
                    font-family: Assistant, sans-serif;
                    color: #1B1B1B;
                }

/*______________________________*/
